extends ../layout
	
block content
	h1 Sobre
	h2 O que é?
	br
	p Sistema desenvolvido para ajudar pessoas que estão começando na área de desenvolvimento, onde qualquer usuário pode tirar dúvidas perguntando para outros usuários.
	p O site tem uma blablabla...
	h2 Develop
	O site está sendo desenvolvido em NodeJS, Bootstrap e blablabla...
	br
	img(src="http://mean.io/system/assets/img/logos/nodejs.png" class="img-responsive")
	br
	br
	br
	img(src="http://www.sortweb.com.br/images/temp/css3_html5.png" class="img-responsive")